:root {
  --main-color: #f29f05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.btn-color {
  background: var(--main-color);
  color: #ffffff;
  transition: 0.3s;
}
.btn-color:hover {
  border: 1px solid #f29f05;
}
